<!doctype html>
<html lang="en">
  <body>
    <p>Hey <b><%= name %> </b></p>
    <p>
      Thanks for signing up in our application. We're very excited to have you
      on board.
    </p>
  </body>
</html>
